

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
} 

.article-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    padding: 25px;
    height: 500px;
    width: 370px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: white;
}

.article-title {
    display: flex;
    font-size: large;
    justify-content: center;
}

.article-text {
    display: flex;
    font-size: small;
}